.card__url {
    margin: 0 0 48px;
    align-self: end;
    grid-area: gu;
}

@media screen and (max-width: 1024px) {
    .card__url {
        margin: 0;
        padding: 0;
        max-width: 352px;
        align-self: end;
    }
}

@media screen and (max-width: 768px) {
    .card__url {
        margin: 0;
        max-width: 352px;
        align-self: start;
    }
}

@media screen and (max-width: 320px) {
    .card__url {
        display: none;
    }
}