.place__title {
    margin-top: 0;
    margin-right: 40px;
    width: 460px;
    font-size: 72px;
    font-weight: 900;
    line-height: 1;
    color: #fff;
}

@media screen and (max-width: 1279px) {
    .place__title {
        margin-bottom: 48px;
        width: 440px;
    }
}

@media only screen and (max-width: 1023px) {
    .place__title {
        margin-bottom: 48px;
        font-size: 42px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        margin-bottom: 48px;
        margin-right: 0;
        max-width: 330px;
        font-size: 42px;
    }
}

@media screen and (max-width: 425px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
    }
}