@import url('./__container/photo-grid__container.css');
@import url('./__item/photo-grid__item.css');
@import url('./__img/photo-grid__img.css');

.photo-grid {
    padding: 92px 48px 0;
  }

@media screen and (max-width: 767px) {
    .photo-grid {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 424px) {
    .photo-grid {
        padding: 64px 16px 0;
    }
}