.place__image {
    width: 460px;
    height: 460px;
}

@media screen and (max-width: 1279px) {
    .place__image {
        max-width: 440px;
        max-height: 440px;     
    }
}

@media only screen and (max-width: 1023px) {
    .place__image {
        max-width: 400px;
        max-height: 400px;
    }
}

@media only screen and (max-width: 899px) {
    .place__image {
        max-width: 340px;
        max-height: 340px;
    }
}

@media only screen and (max-width: 767px) {
    .place__image {
        max-width: 330px;
        max-height: 330px;        
    }
}

@media only screen and (max-width: 567px) {
    .place__image {
        max-width: 320px;
        max-height: 320px;        
    }
}