@import url('./__logo/logo.css');
@import url('./__link/header__link.css');
@import url('./__lang-options/header__lang-options.css');
@import url('./__link/_active/header__link_active.css');

.header {
    margin: 34px auto 0;
    max-width: 984px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .header {
        margin: 34px 48px 0;
        padding: 0;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin: 34px 24px 0;
        padding: 0;
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        margin: 20px 16px 0;
        padding: 0;
        max-width: 288px;
    }
}