.lead__title {
    margin: 58px auto 0;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .lead__title {
        margin-top: 50px;
        width: calc(100vw * 720 / 768);
        font-size: calc(100vw * 96 / 768);
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        margin-top: 50px;
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }
}