.lead__title {
    margin: 58px 0 0;
    max-width: 720px;
    align-self: center;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #fff;
}

@media screen and (max-width: 320px) {
    .lead__title {
        margin: 0 16px 0;
        padding: 0;
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {

    }
}