.footer__links {
    margin: 92px 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .footer__links {
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .footer__links {
        margin: 0 0 16px;
        flex-direction: column;
    }
}