.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

@media screen and (max-width: 567px) {
    .footer__links {
        margin: 0 0 0 16px;
    }
}

/* adding left and right space to prevent sticking to screen's edges */
@media screen and (max-width: 425px) {
    .footer__links {
        margin-left: 8px;
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .footer__links {
        margin: 0 0 16px;
        display: block;
    }
}