.place__paragraph {
    margin-top: 0;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin-top: 0;
        max-width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width: 567px) {
    .place__paragraph {
        margin-bottom: 24px;;
        max-width: 288px;
        font-size: 16px;
        line-height: 26px;
    }
}