.lead__image {
    margin-top: 64px;
    width: 984px;
    height: 615px;
    object-fit: contain;
    align-self: center;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .lead__image {
        margin-top: 56px;
        max-width: 928px;
        height: 580px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead__image {
        margin-top: 56px;
        max-width: 928px;
        height: 580px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead__image {
        margin-top: 56px;
        width: 100vw;
        height: 100%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .lead__image {
        margin-top: 40px;
        width: 100vw;
        height: 100%;
    }
}

@media screen and (max-width: 425px) {
    .lead__image {
        margin-top: 40px;
        max-width: 100vw;
        height: 100%;
    }
}