.section-title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 425px) {
    .section-title {
        font-size: 32px;
        line-height: 35px;
    }
}