.cover__text {
    margin: 32px auto;
    max-width: 320px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 2;
    color: #fff;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__text {
        font-size: calc(100vw * (18 / 768));
    }
}


@media screen and (min-width: 426px) and (max-width: 768px) {
    .cover__text {
        margin: 16px auto;
        font-size: calc(100vw * (18 / 768));
        
    }
}

@media screen and (max-width: 425px) {
    .cover__text {
        margin: 16px auto;
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}