.cover__text {
    padding: 0;
    width: 320px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    z-index: 2;
}

@media screen and (max-width: 320px) {
    .cover__text {
        margin: 0 16px 0;
        width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}