.cover__title {
    margin-bottom: 0;
    max-width: 656px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 2;
    color: #fff;
}

@media screen (min-width: 769px) and (max-width: 1024px) {
    .cover__title {
        width: calc(100vw * (656 / 768));
    }
}

@media screen and (min-width:426px) and (max-width: 768px) {
    .cover__title {
        width: calc(100vw * (288 / 320));
        font-size: calc(100vw * (32 / 320));
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        margin: 16px auto;
        font-size: 32px;
        line-height: 35px;
    }
}