@import url('./__title/place__title.css');
@import url('./__image/place__images.css');
@import url('./__website/place__website.css');
@import url('./__url/place__url.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__description/place__description.css');
@import url('./__paragraph/place__paragraph.css');

.place {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-column-gap: 40px;
}

.place:nth-of-type(5) {
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        margin-bottom: 80px;
        grid-template-columns: minmax(460px, 484px) 1fr;
        grid-column-gap: 32px;
    }
    .place:nth-of-type(2) {
        grid-template-rows: 200px auto;
    }    
}

@media only screen and (min-width: 900px) and (max-width: 1023px) {
    .place {
        grid-template-columns: minmax(460px, 484px) 1fr;
        grid-column-gap:  28px;
    }
        .place:nth-of-type(2) {
            grid-template-rows: 100px auto;
        }  
    }

@media only screen and (min-width: 768px) and (max-width: 899px) {
    .place {
        grid-template-columns: 340px auto;
        grid-column-gap:  28px;
    }
        .place:nth-of-type(2) {
            grid-template-rows: 100px auto;
        }  
    }
    
    
@media only screen and (min-width: 568px) and (max-width: 767px) {
    .place {
        margin-bottom: 48px;
        width: 340px;
        grid-template-columns: 330px;
    }
        .place:nth-of-type(2) {
            grid-template-rows: 100px auto;
        }
    }

@media only screen and (max-width: 567px) {
    .place {
        width: 320px;
        margin-bottom: 48px;
        grid-template-columns: 320px;
    }
        .place:nth-of-type(2) {
            grid-template-rows: 64px auto;
        }
    }