.place__description {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .place__description {
        margin-top: 32px;
    }
} 

@media screen and (max-width: 568px) {
    .place__description {
        margin-top: 32px;
    }
}