.place__description {
    margin-top: 0;
}

@media only screen and (min-width: 569px) and (max-width: 767px) {
    .place__description {
        margin-top: 32px;
    }
} 

@media only screen and (max-width: 568px) {
    .place__description {
        margin-top: 32px;
    }
}